@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px)
	.slider
		&__dots
			&-text
				padding-left: 10px
				overflow: hidden
				text-overflow: ellipsis
				white-space: nowrap

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px)
	.tabs
		&__btn
			width: 50%
	.slider
		&__dots
			&-item
			&-text
				display: none
			&-number
				display: inline-block
				width: 22px
				height: 22px
				border: 2px solid #aaa
				border-radius: 50%
				background-color: #fff
				&-active
					color: #fff
					border-color: #777
					background-color: #777
/* Small Devices, Tablets */
@media only screen and (max-width: 767px)
	/**/
	body
		font-size: 14px
	.tabs
		&__btn
			margin-left: -7px
	.slider
		&__dots
			&-number
				font-size: 1.143em

/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px)
	.tabs
		&__btn
			width: 100%
			margin: 0

/* Custom, iPhone Retina */
@media only screen and (max-width: 319px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width: 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width: 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px)
	/**/

